.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.numbers-pad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: auto;
  width: 60%;
}

.numbers-pad span {
  cursor: pointer;
  background-color: #fffaa0;
  padding: 20px;
}

/* scale the button down when it is clicked to give the indication
to users that it's being clicked  */
.numbers-pad span:active {
  transform: scale(0.95);
}

.numbers-pad span:hover {
  background-color: #f5e910;
}

.display-pad {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  margin: 20px auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
